@include mq(screen-xs) {

	h1, .h1 {font-size: 42px;}
	h3,  .h3 {font-size: 30px;}

	.menu {
		width: 100%;
	}

	.main-video {
		@include transform(translateX(-50%));
		left: 50%;
		top: 0;
		width: 300%;
	}

	.main-title-description {
		font-size: 28px;
	}

	.menu-links > .menu-links-item {
		font-size: 28px;
	}

	.menu-hamburger {
		top: 30px;
		right: 15px;

		&-line {
			width: 25px;
			height: 4px;
		}

	}

	.header-logo {
		@include size(32px);
		top: 25px;
		left: 15px;
	}

	.container-padding {
		padding-left: 15px;
		padding-right: 15px;
	}

	.quem-somos-text {
		font-size: 22px;
	}

	.equipe-item {
		margin-bottom: 30px;

		.h3, h3 {margin-bottom: 15px;}
	}

	.section-quem-somos {
		padding-bottom: 60px;
	}

	.section-equipe {
		padding-bottom: 30px;
	}


	.section-servicos {
		padding-bottom: 30px;

		.h3, h3 {
			font-size: 26px;
			margin-bottom: 15px;
		}

		.servicos-item {
			margin-bottom: 30px;
		}

	}

	.section-cases {
		padding-bottom: 60px;
	}

	.home-cases {

		li {
			margin-bottom: 30px;
		}

		h4 {
			display: block;
			margin-right: 0;
			margin-bottom: 5px;
			float: none;
			width: 100%;
			padding-right: 0 !important;
		}

		a {
			width: 100%;
			height: auto;
		}

	}

	.footer {
		padding-top: 30px;
		padding-bottom: 60px;

		.form-control {
		}

		&-telefone {
			margin-bottom: 60px;
		}

		.h2 {
			margin-bottom: 15px;
		}

		.h3 {
			padding-bottom: 30px;
		}

	}

}

@include mq(screen-xs-l) {

	.main {
		height: 80vh;
	}

	.section-quem-somos {
		padding-top: 30px;
	}

	.home-cases li {
		width: 50%;
		padding: 5px;

		&:nth-child(odd) {

			h4 {
				text-align: left;
			}

		}

	}

}

@include mq(screen-sm) {

	.main {
		height: 428px;
	}

	.section-cases {
		width: 100%;
	}

	.home-cases {
		width: 100%;

		ul {
			width: 100%;
		}

		li {
			width: 335px;

			&:nth-child(even) {
				margin: -100px 0 0 0;
			}

		}


	}

}

@include mq(screen-md) {

	.section-cases {
		width: 100%;
	}

	.home-cases {
		width: 100%;

		ul {
			width: 100%;
		}

		li {
			width: 435px;

			&:nth-child(even) {
				margin: -100px 0 0 0;
			}

			
		}

		a {
			width: 300px;
			height: auto;
		}

	}

}