.case-anymotion-secondary {
  margin-top: -10px;
  padding-top: 70px;
  padding-bottom: 70px;
  background: #2f90c3; }

.case-block-viel .case-block-item-inner {
  white-space: normal; }
  .case-block-viel .case-block-item-inner .text-xlarge {
    display: block;
    padding: 80px; }
  .case-block-viel .case-block-item-inner > span {
    background: #255080; }

.cover-img-anymotion-1 {
  background: url("../images/cases/anymotion/item-1.jpg");
  height: 400px;
  background-size: cover;
  background-position: center center; }

.cover-img-anymotion-2 {
  background: url("../images/cases/anymotion/item-2.jpg");
  height: 850px;
  background-size: cover;
  background-position: center center; }

.cover-img-anymotion-3 {
  background: url("../images/cases/anymotion/item-3.jpg");
  height: 600px;
  background-size: cover;
  background-position: center center;
  margin-bottom: -5px; }

.case-preview-anymotion {
  background: url("../images/preview-anymotion.jpg");
  background-size: cover;
  background-position: center center; }

  .cover-video {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; }