.main-carol-monteiro {

	.main-img {
		@include size(100%);
		background: url('../images/cases/carol-monteiro/bg-main.jpg');
		position: absolute;
		left: 0;
		background-size: cover;
		top: 0;
	}

}

.case-carol-monteiro-secondary {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #28c5c0;
}

.case-carol-monteiro-carousel {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #ededed;
}

.carousel-wrapper {
	width: 100%;
	overflow: hidden;
}

.carousel-carol-monteiro {
	width: 500%;

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	> .carousel-carol-monteiro-item {
		width: 20%;
		float: left;
		text-align: center;
	}

}


.carousel-bullets {
	text-align: center;
	height : 26px;

	> .item {
		@include size(8px);
		@include border-radius(8px);
		background: #000;
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		position: relative;
		transition: .25s ease;	

		&.is-active {
			@include size(24px);
			@include border-radius(24px);
		}

	}

}




.case-preview-viel {
	background: url('../images/preview-viel');
	background-size: cover;
	background-position: center center;
}